html, body {
	height: 100%;
	text-align: center;
}

body {
	background: rgba(203, 131, 6, 0.2);
}

body a img {
	width: 200px;
	height: 200px;
}

body h1 {
	color: #0275d8;
	font-size: 50px;
}

body p.instr {
	font-size: 18px;
}

.container .input-group .createAccount-input {
	border-top-left-radius: 17px;
	border-bottom-left-radius: 17px;
	max-width: 800px;
}

.container a {
	margin: 10px 5px;
	border-radius: 17px;
	padding: 10px 28px;
	font-size: 18px;
}